PREVIEW_LATITUDE=52.2481508     # Preview center latitude
PREVIEW_LONGITUDE=-21.0122546   # Preview center longitude
ADMIN_USERNAME=psyduck          # Admin username
ADMIN_PASSWORD=dupa.8!          # Admin password
LEGACY_GRAPHICS_ENGINE=false    # deprecated: Use ImageMagick instead of native Go graphics
PUID=0                          # User ID (0 = root)
PGID=0                          # Group ID (0 = root)
